:root {
    --menu-foreground: #cccccc;
    --menu-background: #1f1f1f;
    --menu-distance: 10px;
    --menu-border: #454545;
    font-size: 13px 'Segoe UI';
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    padding: 0;
}

graph-display,
#graph-container {
    display: flex;
    flex: 1;
    background-color: var(--menu-background);
}